* {
    padding: 0px;
    margin: 0px;
    font-family: "Kanit", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    position: sticky;
    top: 0;
}

.hero {
    width: 100%;
    height: 650px;
    background-image: url(https://picsum.photos/seed/picsum/2400/1600);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    /* transform: translate(0,-200px); */
    position: relative;
    z-index: -1;
}

.logo {
    background-color: blue;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.menu > ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 15px;
}

.contact > .icon {
    font-size: 12px;
    background-color: coral;
    height: 104px;
    width: 36px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    transform: translate(0,-23px);
}

.contact > .icon > p {
    transform: rotate(90deg);
}

.contact > .icon > .s-logo {
    width: 24px;
    height: 24px;
    background-color: azure;
    border-radius: 50%;
    transform: translate(0,20px);
}

.contact > .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact > .info > .tel {
    font-weight: 300px;
    font-size: 26px;
}

.detail > .textbox {
    margin-left: 268px;
    padding-top: 35px;
}

.detail > .textbox > .headText {
    position: absolute;
    font-size: 40px;
    font-weight: 900;
    transform: translate(-65px,35px);
}

fieldset {
    width: 350px;
    height: 350px;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    border-color: white;
    border: solid 3px;
}

fieldset > legend {
    text-align: center;
    transform: rotate(90deg);
    width: 120px;
    margin-left: 80px;
}

fieldset > p {
    width: 260px;
    height: 130px;
    transform: rotate(90deg);
    display: flex;
    margin: auto;
    padding-top: 170px;
    margin-bottom: 70px;
    padding-left: 30px
}

.sectionOne {
    margin: 0 200px;
}

.sectionOne > .sectionTop {
    display: flex;
    margin-bottom: 100px;
}

.sectionOne > .sectionTop > .sectionImg {
    transform: translate(0,-50px);
    display: flex;
}

.sectionOne > .sectionTop >.sectionImg > img {
    box-shadow: 0px 15px 15px rgb(138, 138, 138);
}

.sectionOne > .sectionTop > .sectionImg > .square {
    width: 65px;
    height: 100px;
    background-color: rgb(213, 255, 47);
    transform: translate(0,150px);
}

.sectionOne > .sectionTop > .sectionText {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sectionOne > .sectionTop > .sectionText > h1 {
    font-size: 44px;
}

.sectionOne > .sectionBottom > .itemGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    gap: 25px;
    color: rgb(90, 90, 90);
}

.sectionOne > .sectionBottom > .itemGrid > .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sectionOne > .sectionBottom > .itemGrid > .item > p {
    font-size: 14px;
}

.sectionTwo {
    margin-top: 100px;
    height: 400px;
    background-image: url(https://picsum.photos/seed/picsum/2400/1600);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.sectionTwo > p {
    background-color: rgba(0, 0, 0,0.3);
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 0 5%;
    text-indent: 50px;
}